/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */
body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(50, 50, 50);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headerDiv {
    width: 100vw;
    min-height: 150px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #7b57a5;
    background-color: #9368c4;
    color:white;
    flex-wrap: wrap;
}

#logoImg {
    max-width: 100px;
    max-height: 100px;
    padding: 0;
    background-color: white;
    border-radius: 50%;
}

h1 {
  font-size: 40px;
  color: white;
  letter-spacing: 2px;
  font-weight: 400;
}

button {
    font-family: 'Montserrat', sans-serif;
    background:none;
    border: none;
}

button:hover{
    cursor: pointer;
}

#plusProject{
    color: white;
    font-size: 16px;
    padding: 4px;
    background: none;
    border: none;
}

#plusProject:hover{
    font-weight: bold;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
}

#formsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
}
  
#newProjectForm {
    width: 175px;
    display: none;
}
  
#inputNewProject{
    width:100%;
}

#submitProject{
    width: 100%;
    text-align: center;
}

.submit{
   background: none;
   border: none;
   height: 20px;
}

#newProjectForm .submit{
   color: white;
}

.taskForm .submit{
    color:#7b57a5;
 }

.submit:hover{
    font-weight: bold;
    cursor: pointer;
}

#userContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-items: center;
}
  
#userPic {
    width: 40px;
    height: 40px;
    background-size: 40px;
    border-radius: 20px;
}
    
#userName {
    font-size: 14px;
    line-height: 30px;
}

#signOutButton, #signInButton{
    background: none;
    border: none;
    color: white;
}

#signOutButton:hover, #signInButton:hover{
    font-weight: bold;
    cursor: pointer;
}

/* Projects */
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
    width: 90vw;
    align-items: center;
    justify-content: center;
}

/* Preview styles */

#previewWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#previewImg{
    width: 500px;
    padding-top: 20px;
}

#previewText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding-left: 50px;
    color: #7b57a5;
}

.previewTextItem{
    font-size: 18px;
    padding: 15px 0;
    line-height: 24px;
    letter-spacing: 1px;
    width: 100%;
    text-align: left;
}

/* Signed-in styles */

.projectWrapper{
    width: fit-content;
    height: fit-content;
}

.project {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}

.projHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 4px;
    margin-bottom: 10px;
}
  
.remove, .hideShow{
    border: none;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.remove{
    background: url(./assets/images/trash.png) no-repeat;
    background-size: cover;
}
.hideShow{
    background: url(./assets/images/openeye.png) no-repeat;
    background-size: cover;
}
  
.remove:hover, .hideShow:hover {
    opacity: 95%;
    width: 31px;
    height: 31px;
    margin: 3px;
    cursor: pointer;
}

input {
    font-family: 'Montserrat', sans-serif;
    height: 15px;
}

.projTitle{
    font-size: 22px;
    max-width: calc(100%-90px);
}

.projActions{
    min-width: 85px;
    display: flex;
    flex-direction: row;
}

.taskContainer{
    width: 97%;
    margin: 0;
    padding: 0;
}

.task {
    display: flex;
    flex-direction: column;
    margin: 0 0 15px 0;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.taskTitle {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 4px;
}

.toggleDescription {
    border: none;
    text-align: left;
    background: none;
    width: fit-content;
    font-size: 14px;
    padding: 0;
    padding-bottom: 8px;
    color: #555555;
}

.description {
    font-size: 14px;
    padding-bottom: 8px;
}

.dueDateDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-bottom: 8px;
}

.due{
    font-weight: 600;
    width: fit-content;
}

.dueDate{
    font-size: 14px;
    width: fit-content;
}

.helpfulDateDiv{
    margin-left: 3px;
    width: fit-content;
}

.taskFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.priorityLabel{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 4px;
}

.priority{
    font-size: 14px;
    font-weight: 600;
    padding: 0;
}

.High {
    color: rgb(231, 95, 95);
    background: none;
    border: none;
}
.VeryLow{
    color: #99bbff;
    background: none;
    border: none;
}
.Low{
    color: #99b0da;
    background: none;
    border: none;
}
.Medium{
    color: #ffd11a;
    background: none;
    border: none;
}

.VeryHigh{
    color: #cc2727;
    background: none;
    border: none;
}

.pastDue{
    color:red
}

.modifyTask {
  background: none;
  border: none;
  width: 20px;
  height: 20px;
}

.eTask{
    background: url(./assets/images/pencil.png);
    background-size: cover;
}

.rTask{
    background: url(./assets/images/trashDark.png);
    background-size: cover;
}

.plusTaskDiv{
    height: 18px;
    width: fit-content;
}

.plus{
    color: #7b57a5;
    font-size: 16px;
}

.taskFormContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.taskForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    margin-top: -24px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.taskFormHeader{
    font-size: 16px;
    color: #7b57a5;
    padding-bottom: 5px;
}

.taskForm input, .taskForm select{
    height: 25px;
    margin: 0px 0px 5px 0px!important;
    width: 60%;
}

.taskForm textarea{
    height: 60px;
    margin: 0px 0px 5px 0px!important;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #7b57a5;
}

.close{
    align-self: flex-end;
    color: #7b57a5;
    font-size: 18px;
    padding: 5px 5px 0 0;
}

#inputProject{
    display: none;
}

#inputDueDate{
    height: auto;
    width: 60%;
}

.priorityDiv{
    width: 100%;
}

#inputPriority{
    width: 65%;
    margin-left: 5px
}

/* Edit task modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 
}
  
#modal-content {
    position: relative;
    background: #FFF;
    padding: 15px;
    min-width: 300px;
    width: 35%;
    position: fixed;
    top: 10%;
    left: 32.5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    box-sizing: border-box;
}
  
#closeModal {
    color: #555555;
    background-color: transparent;
    border: none;
    float: right;
    font-size: 22px;
    padding-right: 5px;
}
  
#closeModal:hover,
#closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalHeader {
    padding: 2px;
}

#modalHeaderText {
    color: #555555;
    text-align: center;
}

#modalBody { 
    padding: 2px 16px;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editForm {
    display: flex;
    flex-direction: column;
    width: 98%
}

.editFormInput {
    height: 30px;
    margin-bottom: 5px;
    width: 100%;
}

#editDescription {
    height: 60px;
    margin-bottom: 5px;
    overflow: scroll;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

#editPriorityDiv{
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#editPriorityLabel {
    width:fit-content;
    font-size: 12px;
    height: fit-content;
    margin-right: 10px;
}

#editPriority {
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    width: 50%
}

#editDueDate {
    height: 30px;
}

#submitEdit {
    color: #7b57a5;
    margin-bottom: 5px;
    background: none;
    border: none;
}

#hiddenID{
    display: none;
}
  
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/*** PRIVACY POLICY ***/

footer{
    display: flex;
    flex-direction: row;
    padding: 30px 0 30px 0;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: rgb(50, 50, 50);
}

.copyright{
    padding-right: 20px;
}

#privacy-policy-link {
    height: fit-content;
    padding-left: 20px;
    font-weight: 400;
    background-color: white;
}

#privacy-policy-link:hover {
  cursor: pointer;
  font-weight: bold;
}

#privacyWrapper{
  width: 70%;
  padding-top: 20px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;

}

h3{
    font-size: 30px;
    padding: 20px 0 20px;
}

#returnHome{
    color:#7b57a5;
    font-size: 22px
}

#returnHome:hover{
    font-weight: bold;
    cursor: pointer;
}

.pp-sub-header{
    font-size: 16px;
    padding: 10px 0;
    font-weight: bold;
}

.pp-policy-text{
    line-height: 16px;
}

@media(max-width: 600px){
    #headerDiv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #headerDiv div, #headerDiv img, #headerDiv h1{
        margin: 10px;
    }
}